body {
/* ============ ПЕРЕМЕННЫЕ ============ */
    --color-font-main: #212121;
    --color-font-head: #757575;
    --color-font-footer: rgba(255, 255, 255, 0.6);
    /* --color-font-footer: #FFFFFF99; */
/* =============================== */
    --color-background-main: #FFFFFF;
    --color-background-another: #E5E5E5;
    --color-background-team: #F5F4FA;
    --color-background-footer: #2F303A;
/* =============================== */
    --color-light: #FFFFFF;
    --color-dark: #000000;
/* =============================== */
    --color-border-line: #ECECEC;
    --color-borders-portfolio: #EEEEEE;
/* =============================== */
    --color-logo-links-hover: #2196F3;
    --color-button-hover: #188CE8;
/* =============================== */
    --color-logohover-bkc: tomato;
/* =================================== */
color: var(--color-font-main);
background-color: var(--color-background-main);
/* =============================== */
    font-family: Roboto, Arial, Helvetica, sans-serif;
  
}






/* ============ Типографика - ГЛОБАЛЬНАЯ Стилизация некоторых элементов ============ */
/* --------- Убираем точки со ВСЕХ списков --------- */
/* li {list-style-type:none;} */
ul {list-style-type: none;}

/* ------ Убираем подчеркивание со ВСЕХ ссылок ------ */
a {text-decoration: none;}

/* --- Задаем ВСЕМ кнопкам тип курсора pointer ------ */
button {cursor: pointer;}







/* ======================= Стилизация Шапки сайта (headline) ======================= */
.headline {}


/* ======== Стилизация Основного раздела навигации в header ======= */
.headline-nav {}


/* ============ Стилизация логотипа WebStudio in header ============ */
/* ====== Стилизация шрифта для логотипа WebStudio in header ====== */
.logo-fontstyle {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.35;
    letter-spacing: 0.03em;
}

/* === Установка цвета текста для логотипа WebStudio in header === */
.logo {
        color: var(--color-logo-links-hover);
}

.logo-headline {
    color: var(--color-dark);
}

/* ==== Стилизация Кнопок Основного раздела навигации в header ===== */
/* === Стилизация шрифта Кнопок Основного раздела навигации и (почта и телефон) в header === */
.contacts-fontstyle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


/* === Установка цвета Кнопок Основного раздела навигации в header === */
.headline-nav-list-button {
    color: inherit;
    /* color: var(--color-font-main); */
}

/* ==== Выделение цветом активной страници в header в (headline) ===== */
.headline-nav-list-button.activlink {
    color: var(--color-button-hover);
    /* text-decoration-line:underline; */
    /* color: var(--color-logohover-bkc); */
}



/* ========= Стилизация Контакты в header (почта и телефон) ========= */
/* === Стилизация шрифта Контакты в header (почта и телефон) === */



.headline-contacts-email,
.headline-contacts-tel {
    color: var(--color-font-head);
}

/* ==========  Hover & Focus на ссылках и кнопках в header ========= */
.headline-nav-list-button.activlink:hover,
.headline-nav-list-button.activlink:focus,

.headline-nav-list-button:hover,
.headline-nav-list-button:focus,

.headline-contacts-email:hover,
.headline-contacts-email:focus,

.headline-contacts-tel:hover,
.headline-contacts-tel:focus

{color: var(--color-logo-links-hover);}


/* ===== Active on Hover & Focus на ссылках и кнопках в header ==== */
/* .headline-nav-list-button:active,
.headline-contacts-email:active
{opacity: 0.5;} */


/* ============= ??????? Hover & Focus on LOGO ?????????? ========== */
/* .logo:hover,
.logo:focus {
    color: var(--color-dark);
    background-color: var(--color-logohover-bkc);
} */

/* .logo-headline:hover,
.logo-headline:focus {
    color: var(--color-logo-links-hover);
    background-color: var(--color-logohover-bkc);
} */

/* .logo-footers:hover,
.logo-footers:focus {
    color: green;
    background-color: var(--color-logohover-bkc);
} */
/* ================ ???????????????????????????????? ============== */






/* ========================= Стилизация ОСНОВНОГО Блока (mainbase)========================== */
.mainbase {}

/* .mainportfol {} */


/* ============= Стилизация Блок-секции_1 ГЕРОЙ (mainbase-hero) ============= */
/* ====== Цвет фона в Блок-секции_1 ГЕРОЙ ====== */
.mainbase-hero {
    background-color: var(--color-background-footer);
}

/* ======= Цвет текста заголовка в ГЕРОЙ ======== */
.mainbase-hero>h1 {
    color: var(--color-light);
}


/* ========== Стилизация кнопки в ГЕРОЙ ========== */
.mainbase-hero-button {
    color: var(--color-light);
    background-color: var(--color-logo-links-hover);
}

/* =======  Hover & Focus на кнопке в ГЕРОЙ======= */
.mainbase-hero-button:hover,
.mainbase-hero-button:focus {
    background-color: var(--color-button-hover);
}






/* = Стилизация Блок-секция_2 Наши особенности (mainbase-features) = */
.mainbase-features {}

.mainbase-features-list {}


/* === Стилизация Заголовков h3 в (mainbase-features) === */
.mainbase-features-list-content>h3 {
    /* color: inherit; */
    color: var(--color-font-main);
    
}

/* ==  == Стилизация Текста p в (mainbase-features) ==== */
.mainbase-features-list-content>p {
    color: var(--color-font-head);
}






/* = Стилизация Блок-секция_3 Чем мы занимаемся (mainbase-activities) = */
.mainbase-activities {}

.mainbase-activities-list {}


/* === Стилизация Заголовка h2 в (mainbase-activities) === */
.mainbase-activities>h2 {
   /* color: red;
    font-size: 50px; */
}






/* = Стилизация Блок-секция_4 Наша команда (mainbase-team) = */
.mainbase-team {
    background-color: var(--color-background-team);
}

.mainbase-team-lists {}


/* === Стилизация Заголовка h2 в (mainbase-team) === */
.mainbase-team>h2 {
    /* color: red;
    font-size: 50px; */
}

/* === Стилизация Заголовков h3 в (mainbase-team) === */
.mainbase-team-list-content>h3 {
    /* color: inherit; */
    color: var(--color-font-main);
}

/* ==  == Стилизация Текста p в (mainbase-team) ==== */
.mainbase-team-list-content>p {
    color: var(--color-font-head);
}

/* = Цвет фона Блок-секция_4 Наша команда (mainbase-team) = */
.mainbase-team-list {
    background-color: var(--color-background-main);
}












/* =============================== Стилизация footer =============================== */
/* ====== Цвет фона в footer ====== */
.footers {
    background-color: var(--color-background-footer);
}


/* == Стилизация части логотипа WebStudio (часть Studio) в footer == */
.logo-footers {
    color: var(--color-light);
}


/* =========== стилизация Адреса в Блоке АДРЕС в footer =========== */
/* ======== Стилизация шрифта Адреса в Блоке АДРЕС в footer ======== */
.contacts-footer-fontstyle {
    font-style:normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footers-contacts-place {
    color: var(--color-light);
}


/* == стилизация Контакты в Блоке АДРЕС (почта и телефон) в footer == */
.footers-contacts-email,
.footers-contacts-tel {
    color: var(--color-font-footer);
}


/* ======  Hover & Focus на ссылках (почта и телефон) в footer ===== */
.footers-contacts-email:hover,
.footers-contacts-email:focus,

.footers-contacts-tel:hover,
.footers-contacts-tel:focus

{color: var(--color-logo-links-hover);}


/* ===== Active on Hover & Focus на ссылках и кнопках в header ==== */
/* .footers-contacts:active 
{opacity: 0.5;} */

/* ____________________________  КОНЕЦ footer ______________________________________ */












/* ============= Стилизация ОСНОВНОГО Блока (mainportfol)============== */
/* .mainbase {} */

.mainportfol {}


/* == Стилизация Блок-секции ГЕРОЙ-ПОРТФОЛИО (mainportfol-hero)=== */
/* ====== Цвет фона в Блок-секции_1 ГЕРОЙ ====== */
.mainportfol-hero {}


/* === Стилизация кнопок в ГЕРОЙ-ССЫЛКИ (mainportfol-hero-filter)=== */
.mainportfol-hero-filter-button {
    color: inherit;
    /* color: var(--color-font-main); */
    background-color: var(--color-background-team);
   
}

/* ===  Hover & Focus на кнопках в ГЕРОЙ-ССЫЛКИ (mainportfol-hero-filter) === */
.mainportfol-hero-filter-button:hover,
.mainportfol-hero-filter-button:focus {
    background-color: var(--color-logo-links-hover);
}


/* _____________  КОНЕЦ ___ КНОПКИ (mainportfol-hero-fil____________________________ */





/* ==================== Стилизация ПРОЕКТЫ (mainportfol-projects) ==================== */
.mainportfol-projects-lists {}


/* === Стилизация Заголовков h2 в (mainportfol-projects-lists) === */
.mainportfol-projects-list-content>h2 {
    /* color: inherit; */
    color: var(--color-font-main);
}

/* ==  == Стилизация Текста p в (mainportfol-projects-lists) ==== */
.mainportfol-projects-list-content>p {
    color: var(--color-font-head);
}

